<template>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5">
      <!-- Nested Row within Card Body -->
      <form class="user" v-if="!submitted">
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
                   <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Remplissez le champ</h1>
                                    </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="N° de visiteur..."
                  id="NumVisiteur"
                  required
                  v-model="visiter.NumVisiteur"
                  name="NumVisiteur"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="NumSite"
                  required
                  v-model="visiter.NumSite"
                  name="NumSite"
                  placeholder="NumSite..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="NbJours"
                    required
                    v-model="visiter.NbJours"
                    name="NbJours"
                    placeholder="NbJours"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                 
                  <input 
                    type="date"
                    class="form-control form-control-user "
                    id="DateVisite"
                    required
                    v-model="visiter.DateVisite"
                    name="DateVisite"
                    placeholder="DateVisite"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                 <router-link to="/visiterlist" class="nav-link">
                <button @click="saveVisiter" class="btn btn-primary btn-user btn-block">Ajout
                   </button>
        </router-link> 
                
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import VisiterDataService from "../../services/VisiterDataService";

export default {
  name: "add-visiter",
  data() {
    return {
      visiter: {
        id: null,
        NumVisiteur: "",
        NumSite: "",
        NbJours: "",
        DateVisite: "",
      },
      submitted: false,
    };
  },
  methods: {
    saveVisiter() {
      var data = {
        NumVisiteur: this.visiter.NumVisiteur,
        NumSite: this.visiter.NumSite,
        NbJours: this.visiter.NbJours,
        DateVisite: this.visiter.DateVisite
      };

      VisiterDataService.create(data)
        .then((response) => {
          this.visiter.id = response.data.id;
          console.log(response.data);
          //  this.$router.push("/visiteurlist" );
          this.submitted = true;
        })
        .catch((e) => {
          console.log(e);
        });
    },

    newVisiter() {
      this.submitted = false;
      this.visiter = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
