<template>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5" v-if="currentVisiter">
      <!-- Nested Row within Card Body -->
      <form class="user">
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
                 <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Modifier le champ</h1>
                                    </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="N° de Visiter..."
                  id="NumVisiter"
                  required
                  v-model="currentVisiter.NumVisiter"
                  name="NumVisiter"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="NumSite"
                  required
                  v-model="currentVisiter.NumSite"
                  name="NumSite"
                  placeholder="Numéro du site..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="NbJours"
                    required
                    v-model="currentVisiter.NbJours"
                    name="NbJours"
                    placeholder="Nombre du jours"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                     type="date"
                    class="form-control form-control-user"
                    id="DateVisite"
                    required
                    v-model="currentVisiter.DateVisite"
                    name="DateVisite"
                    placeholder="Date de visite"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <router-link to="/visiterlist" class="nav-link">
                <button  @click="updateVisiter" class="btn btn-primary btn-user btn-block">Editer
                   </button>
        </router-link>
                
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import VisiterDataService from "../../services/VisiterDataService";

export default {
  name: "Visiter",
  data() {
    return {
      currentVisiter: null,
      message: ''
    };
  },
  methods: {
    getVisiter(id) {
      VisiterDataService.get(id)
        .then(response => {
          this.currentVisiter = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateVisiter() {
      VisiterDataService.update(this.currentVisiter.id, this.currentVisiter)
        .then(response => {
          console.log(response.data);
          this.message = 'The Visiter was updated successfully!';
           this.$router.push({ name: "visiters-list" });
        })
        .catch(e => {
          console.log(e);
        });
    },
    

    deleteVisiter() {
      VisiterDataService.delete(this.currentVisiter.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "visiters" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getVisiter(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
