<template>
  <div class="container-fluid">
     <!-- Page Heading -->
    <div class="my-2"></div>
    <router-link to="/Visiteradd" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Ajout de visiter</span>
    </router-link>

    <!-- DataTables  -->
    <div class="card shadow mb-6">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">Tableaux de la liste des visiters</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>N° Visiter</th>
                <th>N° site</th>
                <th>Nb Jours</th>
                <th>Date</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr
                :class="{ active: index == currentIndex }"
                v-for="(currentVisiter, index) in visiters"
                :key="index"
                @click="setActiveVisiter(currentVisiter, index)"
              >
                <td>{{ currentVisiter.NumVisiteur }}</td>
                 <td>{{ currentVisiter.NumSite }}</td>
                <td>{{ currentVisiter.NbJours }}</td>
                <td>{{ currentVisiter.DateVisite}}</td>
                <td>
                  <router-link :to="'/visiters/' + currentVisiter.id" class="btn btn-primary btn-circle btn-sm">
                      <i class="fas fa-edit"></i>
                  </router-link>
               
                  <a class="btn btn-danger btn-circle btn-sm ml-3" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-trash"></i>
                                  
                                </a>
                </td>
              </tr>
              <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Voulez vous le supprimer Vraiment?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Cliquer sur le bouton "Supprimer" si vous êtes sûre.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                   <button href="#" id="currentVisiter" data-dismiss="modal" class="btn btn-danger"  @click="deleteVisiter(currentVisiter.id)">
                     Supprimer
                   </button>
                 
                  
                  
                </div>
            </div>
        </div>
    </div>
       <a id="scroll" class="scroll-to-top rounded" href="#">
        <i class="fas fa-angle-up"></i>
    </a>

            </tbody>
          </table>
    <div class="mb-3">
      <h6 class="text-right"></h6>
      <b-pagination v-model="currentPage" :total-rows="rows" align="right"></b-pagination>
    </div>
        </div>
      </div>
    </div>
  </div>
  

    
</template>

<script>
import VisiterDataService from "../../services/VisiterDataService";

export default {
  name: "visiters-list",
  data() {
    return {
      visiters: [],
      currentVisiter: null,
      currentIndex: -1,
      title: "",
      rows: 100,
        currentPage: 3
      
    
      

    };
  },
  methods: {
    retrieveVisiters() {
      VisiterDataService.getAll()
        .then((response) => {
          this.visiters = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });


    },
    refreshList() {
      this.retrieveVisiters();
      this.currentVisiter = null;
      this.currentIndex = -1;
    },
    setActiveVisiter(visiter, index) {
      this.currentVisiter = visiter;
      this.currentIndex = index;
    },
    removeAllVisiters() {
      VisiterDataService.deleteAll()
        .then((response) => {
          console.log(response.data);
          this.refreshList();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    searchVisiter() {
      VisiterDataService.findByVisiter(this.title)
        .then((response) => {
          this.visiters = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteVisiter(visiter) {
      VisiterDataService.delete(visiter)
        .then(response => {
          console.log(response.data);
          this.refreshList();
            this.newVisiter.id = visiter.id;
            this.newVisiter.NumVisiteur = visiter.NumVisiteur;
            this.newVisiter.nom = visiter.nom;
            this.newVisiter.adresse= visiter.adresse;
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
    
  mounted() {
    this.retrieveVisiters();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

</style>
