<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Test-vuejs</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link href="<%= BASE_URL %>css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body>

   

<style>
.list {
 text-align: left;
 max-width: 750px;
 margin: auto;
}
</style>


  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script src="<%= BASE_URL %>vendor/jquery/jquery.min.js"></script>
  <script src="<%= BASE_URL %>vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="<%= BASE_URL %>vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="<%= BASE_URL %>vendor/datatables/dataTables.bootstrap4.min.js"></script>


  <!-- Core plugin JavaScript-->
  <script src="<%= BASE_URL %>vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="<%= BASE_URL %>js/sb-admin-2.min.js"></script>

</body>

</html>