<template>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5">
      <!-- Nested Row within Card Body -->
      <form class="user" v-if="!submitted">
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
                   <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Remplissez le champ</h1>
                                    </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="N° de site..."
                  id="NumSite"
                  required
                  v-model="site.NumSite"
                  name="NumSite"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="nom"
                  required
                  v-model="site.nom"
                  name="nom"
                  placeholder="Nom..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="lieu"
                    required
                    v-model="site.lieu"
                    name="lieu"
                    placeholder="lieu"
                  />
                </div>
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="TarifJournalier"
                    required
                    v-model="site.TarifJournalier"
                    name="TarifJournalier"
                    placeholder="TarifJournalier"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <router-link to="/sitelist" class="nav-link">
                <button @click="saveSite" class="btn btn-primary btn-user btn-block">Ajout
                   </button>
        </router-link> 
               
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import SiteDataService from "../../services/SiteDataService";

export default {
  name: "add-site",
  data() {
    return {
      site: {
        id: null,
        NumSite: "",
        nom: "",
        lieu: "",
        TarifJournalier: "",
      },
      submitted: false,
    };
  },
  methods: {
    saveSite() {
      var data = {
        NumSite: this.site.NumSite,
        nom: this.site.nom,
        lieu: this.site.lieu,
        TarifJournalier: this.site.TarifJournalier,
      };

      SiteDataService.create(data)
        .then((response) => {
          this.site.id = response.data.id;
          console.log(response.data);
          //  this.$router.push("/sitelist" );
          this.submitted = true;
        })
        .catch((e) => {
          console.log(e);
        });
    },

    newSite() {
      this.submitted = false;
      this.site = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
