<template>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5" v-if="currentSite">
      <!-- Nested Row within Card Body -->
      <form class="user">
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
                 <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Modifier le champ</h1>
                                    </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="N° de site..."
                  id="NumSite"
                  required
                  v-model="currentSite.NumSite"
                  name="NumSite"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="nom"
                  required
                  v-model="currentSite.nom"
                  name="nom"
                  placeholder="Nom..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="lieu"
                    required
                    v-model="currentSite.lieu"
                    name="lieu"
                    placeholder="Lieu"
                  />
                </div>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="TarifJournalier"
                    required
                    v-model="currentSite.TarifJournalier"
                    name="TarifJournalier"
                    placeholder="Tarif"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                 <router-link to="/sitelist" class="nav-link">
                <button  @click="updateSite" class="btn btn-primary btn-user btn-block">Editer
                   </button>
        </router-link> 
               
                
              </div>
            </div>
          </div>

           <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <router-link to="/sitelist" class="nav-link">
                <button @click="deleteSite" class="btn btn-danger btn-user btn-block">Supprimer
                   </button>
        </router-link> 
               
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import SiteDataService from "../../services/SiteDataService";

export default {
  name: "Site",
  data() {
    return {
      currentSite: null,
      message: ''
    };
  },
  methods: {
    getSite(id) {
      SiteDataService.get(id)
        .then(response => {
          this.currentSite = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },

    updateSite() {
      SiteDataService.update(this.currentSite.id, this.currentSite)
        .then(response => {
          console.log(response.data);
          this.message = 'The Site was updated successfully!';
           this.$router.push({ name: "sites-list" });
           
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteSite() {
      SiteDataService.delete(this.currentSite.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "sites" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getSite(this.$route.params.id);
  }
};
</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
