<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="my-2"></div>
    <router-link to="/Siteadd" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Ajout de site</span>
    </router-link>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
          Tableaux de la liste des sites
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>N° site</th>
                <th>Nom</th>
                <th>Lieu</th>
                <th>Tarif Journalier</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr
                :class="{ active: index == currentIndex }"
                v-for="(currentSite, index) in sites"
                :key="index"
                @click="setActiveSite(currentSite, index)"
              >
                <td>{{ currentSite.NumSite }}</td>
                <td>{{ currentSite.nom }}</td>
                <td>{{ currentSite.lieu }}</td>
                <td>{{ currentSite.TarifJournalier }}</td>
                <td>
                  <router-link
                    :to="'/sites/' + currentSite.id"
                    class="btn btn-primary btn-circle btn-sm"
                  >
                    <i class="fas fa-edit"></i>
                  </router-link>
                  
                  <a
                    class="btn btn-danger btn-circle btn-sm ml-3"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>
              <a id="scroll" class="scroll-to-top rounded" href="#">
                <i class="fas fa-angle-up"></i>
              </a>
            </tbody>
          </table>

                <div
                    class="modal fade"
                    id="logoutModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Voulez vous le supprimer Vraiment?
                          </h5>
                          <button
                            class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Cliquer sur le bouton "Supprimer" si vous êtes sûre.
                        </div>
                        <div class="modal-footer">
                          <button
                            class="btn btn-secondary"
                            type="button"
                            data-dismiss="modal"
                          >
                            Annuler
                          </button>
                          <button
                            aria-hidden="true"
                            data-dismiss="modal"
                            class="btn btn-danger"
                            @click="deleteSite(currentSite.id)"
                          >
                            Supprimer
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SiteDataService from "../../services/SiteDataService";

export default {
  name: "sites-list",
  data() {
    return {
      sites: [],
      currentSite: null,
      currentIndex: -1,
      title: "",
    };
  },
  methods: {
    retrieveSites() {
      SiteDataService.getAll()
        .then((response) => {
          this.sites = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveSites();
      this.currentSite = null;
      this.currentIndex = -1;
    },
    setActiveSite(site, index) {
      this.currentSite = site;
      this.currentIndex = index;
    },
    removeAllSites() {
      SiteDataService.deleteAll()
        .then((response) => {
          console.log(response.data);
          this.refreshList();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    searchTitle() {
      SiteDataService.findByTitle(this.title)
        .then((response) => {
          this.sites = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteSite(site) {
      SiteDataService.delete(site)
        .then((response) => {
          console.log(response.data);
          this.refreshList();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },

  mounted() {
    this.retrieveSites();
     this.refreshList();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
