<template>
     <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-8 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <router-link to="/visiteurlist" class="nav-link">
        <i class="text-xs font-weight-bold text-primary text-uppercase mb-1"></i>
        <span> Listes des visiteurs</span></router-link>  
                                            
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-8 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <router-link to="/sitelist" class="nav-link">
        <i class="text-xs font-weight-bold text-success text-uppercase mb-1"></i>
        <span> Listes des Sites</span></router-link>  
                                            
                                            <div class="h5 mb-0 font-weight-bold text-gray-800"></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-home fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-8 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <router-link to="/visiterlist" class="nav-link">
        <i class="text-xs font-weight-bold text-warning text-uppercase mb-1"></i>
        <span> Listes des sites à Visiter</span></router-link> 
                                            
                                            <!-- <div class="h5 mb-0 font-weight-bold text-gray-800">/div> -->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <a id="scroll" class="scroll-to-top rounded" href="#">
        <i class="fas fa-angle-up"></i>
    </a>
                    </div>
                    
                    
</template>

<script>
import DashDataService from "../../services/DashDataService";

export default {
  name: "dashs-list",
  data() {
    return {
      dashs: [],
      currentDash: null,
      currentIndex: -1,
      Dash: "",
    };
  },
  methods: {
    retrieveDashs() {
      DashDataService.getAll()
        .then((response) => {
          this.dashs = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });


    },
    refreshList() {
      this.retrieveDashs();
      this.currentDash = null;
      this.currentIndex = -1;
    },
    setActiveDash(Dash, index) {
      this.currentDash = Dash;
      this.currentIndex = index;
    },
    removeAllDashs() {
      DashDataService.deleteAll()
        .then((response) => {
          console.log(response.data);
          this.refreshList();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    searchDash() {
      DashDataService.findByTitle(this.Dash)
        .then((response) => {
          this.dashs = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteDash(Dash) {
      DashDataService.delete(Dash)
        .then(response => {
          console.log(response.data);
          this.refreshList()
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
    
  mounted() {
    this.retrieveDashs();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
