<template>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5">
      <!-- Nested Row within Card Body -->
      <form class="user" v-if="!submitted">
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
                   <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Remplissez le champ</h1>
                                    </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="N° de visiteur..."
                  id="NumVisiteur"
                  required
                  v-model="visiteur.NumVisiteur"
                  name="NumVisiteur"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="nom"
                  required
                  v-model="visiteur.nom"
                  name="nom"
                  placeholder="Nom..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="adresse"
                    required
                    v-model="visiteur.adresse"
                    name="adresse"
                    placeholder="Adresse"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <router-link to="/visiteurlist" class="nav-link">
                <button @click="saveVisiteur" class="btn btn-primary btn-user btn-block">Ajout
                   </button>
        </router-link> 
                
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import VisiteurDataService from "../../services/VisiteurDataService";

export default {
  name: "add-visiteur",
  data() {
    return {
      visiteur: {
        id: null,
        NumVisiteur: "",
        nom: "",
        adresse: "",
      },
      submitted: false,
    };
  },
  methods: {
    saveVisiteur() {
      var data = {
        NumVisiteur: this.visiteur.NumVisiteur,
        nom: this.visiteur.nom,
        adresse: this.visiteur.adresse,
      };

      VisiteurDataService.create(data)
        .then((response) => {
          this.visiteur.id = response.data.id;
          console.log(response.data);
          //  this.$router.push("/visiteurlist" );
          this.submitted = true;
        })
        .catch((e) => {
          console.log(e);
        });
    },

    newVisiteur() {
      this.submitted = false;
      this.visiteur = {};
    },
  },
};
</script>

<style>
.submit-form {
  max-width: 300px;
  margin: auto;
}
</style>
