<template>
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-5" v-if="currentVisiteur">
      <!-- Nested Row within Card Body -->
      <form class="user">
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
                 <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Modifier le champ</h1>
                                    </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  placeholder="N° de Visiteur..."
                  id="NumVisiteur"
                  required
                  v-model="currentVisiteur.NumVisiteur"
                  name="NumVisiteur"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-user"
                  id="nom"
                  required
                  v-model="currentVisiteur.nom"
                  name="nom"
                  placeholder="Nom..."
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">       
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    id="adresse"
                    required
                    v-model="currentVisiteur.adresse"
                    name="adresse"
                    placeholder="Adresse"
                  />
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="p-3">
              <div class="form-group">
         <router-link to="/visiterlist" class="nav-link">
    <button  @click="updateVisiteur" class="btn btn-primary btn-user btn-block">Editer
     
    </button>
    </router-link> 
  
             
                
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  
</template>

<script>
import VisiteurDataService from "../../services/VisiteurDataService";

export default {
  name: "Visiteur",
  data() {
    return {
      currentVisiteur: null,
      message: ''
     
    };
  },
  methods: {
    
    
    getVisiteur(id) {
      VisiteurDataService.get(id)
        .then(response => {
          this.currentVisiteur = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
          
        });
        
    },


    updateVisiteur() {
      VisiteurDataService.update(this.currentVisiteur.id, this.currentVisiteur)
        .then(response => {
          console.log(response.data);
          this.message = 'The Visiteur was updated successfully!';
           this.$router.push({ name: "visiteurs-list" });
           
        })
        .catch(e => {
          console.log(e);
        });
    },

    deleteVisiteur() {
      VisiteurDataService.delete(this.currentVisiteur.id)
        .then(response => {
          console.log(response.data);
          this.$router.push({ name: "visiteurs" });
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  mounted() {
    this.message = '';
    this.getVisiteur(this.$route.params.id);
  }
};

</script>

<style>
.edit-form {
  max-width: 300px;
  margin: auto;
}
</style>
