<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="my-2"></div>
    <router-link to="/visiteuradd" class="btn btn-primary btn-icon-split mb-3">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Ajout de visiteur</span>
    </router-link>

    <!-- DataTables  -->
    <div class="card shadow mb-6">
      <div class="card-header py-2">
        <h6 class="m-0 font-weight-bold text-primary">
          Tableaux de la liste des visiteurs
        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="dataTable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>N° visiteur</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr
                :class="{ active: index == currentIndex }"
                v-for="(currentVisiteur, index) in visiteurs"
                :key="index"
                @click="setActiveVisiteur(currentVisiteur, index)"
              >
                <td>{{ currentVisiteur.NumVisiteur }}</td>
                <td>{{ currentVisiteur.nom }}</td>
                <td>{{ currentVisiteur.adresse }}</td>
                <td>
                  <router-link
                    :to="'/visiteurs/' + currentVisiteur.id"
                    class="btn btn-primary btn-circle btn-sm"
                  >
                    <i class="fas fa-edit"></i>
                  </router-link>

                  <a
                    class="btn btn-danger btn-circle btn-sm ml-3"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              </tr>

              <a id="scroll" class="scroll-to-top rounded" href="#">
                <i class="fas fa-angle-up"></i>
              </a>
            </tbody>
          
          </table>
          <div
                    class="modal fade"
                    id="logoutModal"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Voulez vous le supprimer Vraiment?
                          </h5>
                          <button
                            class="close"
                            type="button"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          Cliquer sur le bouton "Supprimer" si vous êtes sûre.
                        </div>
                        <div class="modal-footer">
                          <button
                            class="btn btn-secondary"
                            type="button"
                            data-dismiss="modal"
                          >
                            Annuler
                          </button>
                          <button
                            aria-hidden="true"
                            data-dismiss="modal"
                            class="btn btn-danger"
                            @click="deleteVisiteur(currentVisiteur.id)"
                          >
                            Supprimer
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VisiteurDataService from "../../services/VisiteurDataService";

export default {
  name: "visiteurs-list",
  data() {
    return {
      visiteurs: [],
      currentVisiteur: null,
      currentIndex: -1,
      title: "",
      rows: 100,
      currentPage: 3,
    };
  },
  methods: {
    retrieveVisiteurs() {
      VisiteurDataService.getAll()
        .then((response) => {
          this.visiteurs = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    refreshList() {
      this.retrieveVisiteurs();
      this.currentVisiteur = null;
      this.currentIndex = -1;
    },
    setActiveVisiteur(visiteur, index) {
      this.currentVisiteur = visiteur;
      this.currentIndex = index;
    },
    removeAllVisiteurs() {
      VisiteurDataService.deleteAll()
        .then((response) => {
          console.log(response.data);
          this.refreshList();
        })
        .catch((e) => {
          console.log(e);
        });
    },
    searchTitle() {
      VisiteurDataService.findByTitle(this.title)
        .then((response) => {
          this.visiteurs = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },

    deleteVisiteur(visiteur) {
      VisiteurDataService.delete(visiteur)
        .then((response) => {
          console.log(response.data);
          this.refreshList();
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },

  mounted() {
    this.retrieveVisiteurs();
    this.refreshList();
  },
};
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
</style>
