<template>
    <div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Gestion des visites des sites </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      
      <li class="nav-item">
        <router-link to="/dashlist" class="nav-link">
        <i class="fas fa-fw fa-home"></i>
        <span> Home</span></router-link>  
      </li>
      
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <router-link to="/visiteurlist" class="nav-link">
        <i class="fas fa-fw fa-users"></i>
        <span> Listes des visiteurs</span></router-link>  
      </li>

     <li class="nav-item">
        <router-link to="/sitelist" class="nav-link">
        <i class="fas fa-fw fa-home"></i>
        <span> Listes des sites</span></router-link>  
      </li>

       <li class="nav-item">
        <router-link to="/visiterlist" class="nav-link">
        <i class="fas fa-fw fa-table"></i>
        <span> Listes des sites visiter</span></router-link>  
      </li>

    
      <hr class="sidebar-divider d-none d-md-block">

      
      <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


      
      

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          
          

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

           
            

          

           
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
           

          </ul>

        </nav>

        <div class="container-fluid">
             <router-view />
        </div>
      </div>
    </div>


  </div>
  
</template>

<script>
export default {
  name: "app",
};
</script>
